/* GENERAL - START */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(52, 52, 52);
}

.center-h{
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.empty-space-h-2vh{
    height: 2vh;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed black;
}

.empty-space-h-4vh{
    height: 4vh;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed black;
}

.empty-space-h-6vh{
    height: 6vh;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed black;
}

.empty-space-h-8vh{
    height: 8vh;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed black;
}

.empty-space-h-10vh{
    height: 10vh;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed black;
}

.empty-space-h-25vh{
    height: 25vh;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed black;
}

.empty-space-h-50vh{
    height: 50vh;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed black;
}

.empty-space-h-75vh{
    height: 75vh;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed black;
}

.empty-space-w-25pct{
    height: 100%;
    width: 25%;
    border-radius: 5px;
    border: 1px dashed black;
}

.empty-space-w-50pct{
    height: 100%;
    width: 50%;
    border-radius: 5px;
    border: 1px dashed black;
}

.empty-space-w-75pct{
    height: 100%;
    width: 75%;
    border-radius: 5px;
    border: 1px dashed black;
}
/* GENERAL - END */

/* COVER - START */
/* COVER - END */

/* HEADER - START */
header{
    position: fixed;
    bottom: 0;
    border-radius: 100% 100% 0% 0%;
    background: linear-gradient(#FF5733, brown);
    width: 100%;
    padding: 2vh 0;
    box-shadow: 0px -3px 2px 1px grey;
    z-index: 100;
    height: 10vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > ul > li{
    background-color: fuchsia;
    display: inline-block;
    padding: 1vh 0;
    margin: 0 1vw;
}
/* HEADER - END */

/* MAIN - START */
main{
    display: flex;
    flex-flow: column nowrap;
}

section{
    min-height: 100vh;
}

.home-container{
    background-image: url("../resource/template-1/couple-illustration.jpg");
    background-size: auto 100% ;
    background-position: center;
    background-repeat: no-repeat;
}

.home-container h1,.home-container h2{
    position: relative;
    text-align: center;
}

.home-container h4{
    position: relative;
    font-style: italic;
    text-align: center;
    
}

.home-container h4 span:first-child{
    padding-top: 2px;
    border-top: 2px solid black;
}
.home-container h4 span:last-child{
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

.couple-container{
    background-color: yellowgreen;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
}
.couple-container .groom-container{
    background-image: url("../resource/template-1/groom-side_compressed.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
    order: 1;
}

.couple-container .groom-container .groom-caption{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: right;
    padding-right: 5vw;
    background-color: aliceblue;
}


.couple-container .couple-divider{
    order: 2;
    display: flex;
}

.couple-container .couple-divider .couple-divider-1{
    order: 1;
    background-color: yellow;
}

.couple-container .couple-divider .couple-divider-2{
    order: 2;
    background-color: cornflowerblue;
}

.couple-container .bride-container{
    background-image: url("../resource/template-1/bride-side-compressed.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
    order: 3;
}

.couple-container .bride-container .bride-caption{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: left;
    padding-left: 5vw;
    background-color: aliceblue;
}

@media (min-width:320px)  {
    .couple-container .groom-container{
        width: 100%;
    }

    .couple-container .bride-container{
        width: 100%;
    }
}

@media (min-width:1025px) {
    .couple-container .groom-container{
        width: 49.75%;
    }

    .couple-container .couple-divider{
        width: 0.5%;
        flex-flow: row wrap;
    }

    .couple-container .couple-divider .couple-divider-1{
        width: 100%;
        height: 50%;
        background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,1) 50%);
    }
    
    .couple-container .couple-divider .couple-divider-2{
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,1) 50%);
    }

    .couple-container .bride-container{
        width: 49.75%;
    }
}

.wedding-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.wedding-container .event-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    border: 1px solid blue;
    margin: 0 1vw;
    padding: 1rem;
}

.wedding-container .event-container iframe{
    order: 1;
}

.wedding-container .event-container .event-caption{
    order: 2;
    border: none;
}

.wedding-container .event-container .event-caption p{
    margin-bottom: 2vh;
} 
.wedding-container .event-container .event-caption a{
    /*
    margin-right: 0.5vw;
    padding: 0.5vh 0.5vw 1vh;
    border-radius: 0 0 50% 50%;
    */
    background-color: burlywood;
    padding: 1vh 1vw;
}

.wedding-container .event-container .event-caption a:hover{
    background-color: chocolate;
    color: beige;
}

@media (min-width:320px)  {
    .wedding-container .event-container{
        display: flex;
    }

    .wedding-container .event-container iframe{
        width: 100%;
    }
    
    .wedding-container .event-container .event-caption{
        width: 100%;
    }
    
    .wedding-container .event-container .event-caption a{
        display: block;
        margin-bottom: 1vh;
        
    }
}

@media (min-width:1025px) {
    .wedding-container .event-container{
        width: auto;
        display: block;
        padding: 3vh 2vw;
    }
    
    .wedding-container .event-container .event-caption a{
        display: inline-block;
    }
}

/* Gallery to be develop */

.gallery-container .gallery-inner-container{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    background-color: indigo;
    justify-content: center;
}
.gallery-container .gallery-inner-container img{
    margin: 1vh 0.5vw;
    min-width: 45vw;
    height: 40vh;
    background-color: springgreen;
    object-fit: cover;
}


/*
.rsvp-wishes-container{
    display: flex;
    flex-flow: row wrap;
}

*/

.rsvp-wishes-inner-container{
    margin: 0 auto;
    background-color: darkkhaki;
}

.rsvp-wishes-container form input[type="text"], .rsvp-wishes-container form textarea, .rsvp-wishes-container form fieldset, .rsvp-wishes-container form select, .rsvp-wishes-container form button{
    display: block;
    width: 100%;
    margin-bottom: 3vh;
}

@media (min-width:320px)  {
    .rsvp-wishes-inner-container{
        width: 100%;
    }
}

@media (min-width:320px)  {
    .rsvp-wishes-inner-container{
        width: 90%;
    }
}

/* MAIN - END */

/* FOOTER - START */
footer{
    background-color: blue;
}

.footer-content{
    height: 5vh;
    text-align: center;
    padding: 1vh 0;
}

.header-space{
    height: 12vh;
}
/* FOOTER - END */
